@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "OpenSans-Regular" !important;
    transition: all 0.3s ease-in-out;
    color: var(--color-2)
}



:root{
    --background-1: #f6edff;
    --button-1: #e0b6ff;
    --button-2: #FFFFFF;
    --card-1: #e2d3fa;
    --card-2:#ebdeff;
    --color-1: #FFFFFF;
    --color-2: #1E1B1B;
    --color-3: #494649;
    --progress-bar-1: #8a20d5;
}

body{
    height: 100vh;
    overflow-y: hidden;
}

.active {
    background: var(--button-1) !important;
}